body, html {
    height: 100%;
  }

.grid-container-1 {
    display: grid;
    grid-template-areas: 
      "button1 button2 box button3 girl girl"
      "buildings buildings buildings buildings girl girl"
      "buildings buildings buildings buildings girl girl";
    background-image: url("/images/plainhd.png");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.grid-container-2 {
    display: grid;
    grid-template-areas: 
      "button1 button2 . caramel"
      ". . . caramel"
      ". . . ."
      ". . . .";
    background-image: url('/images/smooth.png');
    background-size: 100% 100%;
    height: 100%;
    background-position: center;
    z-index: 1;
    margin-top: -0.5%;
}

.grid-container-3 {
    display: grid;
    grid-template-areas: 
      "button1 button2 button3 button4"
      "worm worm worm worm"
      "worm worm worm worm"
      ". . . .";
    background-image: url('/images/brwnbg.png');
    background-size: 200% 100%;
    height: 200%;
    background-position: center;
    overflow-x: hidden;
    margin-top: -0.2%;
}
.logo {
    display: flex;
    align-items: center;
    height: 0px;
    cursor: pointer;
    padding: 29px;
    background-image: url(/images/littlelogo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 25px;
    margin-top: 2px;
    margin-bottom: 2;
}

    

    .button1, .button2, .button3 {
        background-color: rgba(255, 250, 250, 0.1);
        z-index: 1;
        background-size: 100% 100%; /*to make the image cover the entire element */
        background-repeat: no-repeat;
        width: 80%;
        height: 40%;
        border-color: rgba(255, 250, 250, 0.0);
        border-top-left-radius: 60%;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 20%;
        border-top-right-radius: 40%;
    }

    .button1 {
            grid-area: button1;
            background-image: url('/images/cloud1.png'); 
            margin-top: 100%;
            }

    .button2 {
            grid-area: button2;
            background-image: url('/images/cloud2.png');
            margin-top: 40%;
        }
    .button3 {
            grid-area: button3;
            background-image: url('/images/cloud3.png');
            margin-left: 100%;
            margin-top: 40%;
        }

        .girl {
            grid-area: girl;
            background-image: url(/images/girl.png);
            background-size: 100% 110%;
            background-repeat: no-repeat;
            z-index: 2;
            width: 110%;
            margin-bottom: 1%;
        }
        
        
    
    .box {
            grid-area: box;
            background-image: url(/images/box.png);
            background-size: 100% 100%;
            height: 110%;
            width: 220%;
            margin-top: 0em;
    }
    
    .buildings {
        grid-area: buildings;
        background-image: url(/images/buildings.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 150%;
        z-index: 2;
    }

    .caramel {
        grid-area: caramel;
        background-image: url(/images/caramel.png);
        background-size: 70% 70%;
        background-repeat: no-repeat;
        z-index: 0;
        margin-bottom: 10%;
        opacity: 90%;
    }


    @media (max-width: 800px) {
        .grid-container-1 {
          height: 100%;
          grid-template-areas: 
              ". . . . . . "
              "button1 button2 box button3 girl girl"
              "buildings buildings buildings buildings girl girl"
              "buildings buildings buildings buildings girl girl";
          grid-template-columns: 25% 25% 15% 15% 20% 20%;
          grid-template-rows: 25% 25% 25%
        }
        .box, .girl, .buildings, .button1, .button2, .button3, .button4 {
          max-width: 120%; /* make the elements take up the full width of the screen */
          max-height: 100%;
        }
        .girl {
            height: 80%;
            width: 120%;
            margin-top: 40%;
            margin-left: -50%;
        }
        .buildings{
            width:120%;
        }
        .button1, .button2gomust2
        }
        
        .box{
            padding: 50%;
        }

      

    @media (max-width: 600px) {
        .grid-container-1 {
          height: 80%;
          grid-template-areas: 
              ". . . . . . "
              "button1 button2 box button3 girl girl"
              "buildings buildings buildings buildings girl girl"
              "buildings buildings buildings buildings girl girl";
          grid-template-columns: 25% 25% 15% 15% 20% 20%;
          grid-template-rows: 25% 25% 25%
        }
        .box, .girl, .buildings, .button1, .button2, .button3, .button4 {
          max-width: 150%; /* make the elements take up the full width of the screen */
          max-height: 100%;
        }
        .girl {
            height: 75%;
            width: 120%;
            margin-top: 60%;
            margin-left: -50%;
        }
        .buildings{
            width:120%;
        }
        .box {
            padding: 75%;
            width: 150%;
            height: 60%;
        }

      }
      
      @media (max-width: 460px) {

        .girl {
            width: 110%;
            margin-top: 68%;
            margin-left: -60%;
        }
        .buildings{
            width:120%;
        }
      }
  
      @media (max-width: 350px) {

        .girl {
            height: 80%;
            width: 120%;
            margin-top: 83%;
        }
    }

    @media (max-width: 260px) {

        .girl {
            height: 80%;
            width: 120%;
            margin-top: 130%;
        }
    }


    .navbar {
        display: flex;
        position: fixed;
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        z-index: 4;
        margin-top: 1.2%;
    }

    .navbarcontainer {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 80px;
        border: 3px solid rgb(77, 77, 140);
        box-shadow: rgb(77, 77, 140);
        position: relative;
        width: 50%;
    }

    .lgmenu {
        align-items: center;
        display: flex;
    }}